body{
    background-image: url(assets/images/papyrus.png); 
 }
 .todays-row {
     background-color: #ccdcff;
     color: black;
     padding-bottom: 15px;
     margin-right: 20px;
     border-radius: 20px;
     border: groove;
 }
#day-one-display, #day-two-display, #day-three-display, #day-four-display, #day-five-display{
     float: left;
     margin: 15px;
     padding: 10px;
     border: groove;
     background-color: #99b3ff;
     color: white;
     border-radius: 20px;
 }

#five-day-forecast-big-box {
    background-color: #ccdcff;
    color: black;
    padding-bottom: 15px;
    margin-right: 20px;
    border-radius: 20px;    
    padding: 5px;
    border: groove;
}
#UVICOLOR{
    background-color: #dc3545;
    color: white;
    padding: 2px;
    border-radius: 20%;
    border: groove;
}
.container{
    background-color: black;
    color: white;
    min-width: 100%;
}
.todays-row{
    font-size: x-large
}
.todays-icon img{
    width: 120px;
}
.main-city-info{
    font-weight: bolder;
    font-size: xx-large;
}
.previous-searches-button {
    padding: 10px 16px;
    background-color: #ffffff;
    border: 1px solid #c2c0c4;
    
 }
 #city-input{
     height: 37px;
     margin-top: 0px;
     padding-bottom: 7px;
     margin-left: 2px;
 }
 #clear-button {
     margin-bottom: 5px;
 }

 .btn-primary{
     margin-left: 0px;
     margin-right: 0px;
     max-width: 46px;
 }
 /*MEDIA QUERY =========================================================================*/

 @media screen and (max-width: 576px) {
    .search-for-city {
       text-align: center;
       font-size: 1.75rem;
       margin-bottom: 25px;
    }}

 @media screen and (min-width: 576px) {
    .todays-weather {
       width: 300px;
    }}
 
 @media screen and (min-width: 724px) {
    .todays-weather {
       width: 450px;
    }}
 
 @media screen and (min-width: 848px) {
    .todays-weather {
       width: 600px;
    }}
 
 @media screen and (min-width: 1054px) {
    .todays-weather {
       width: 750px;
    }}